<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Glitch from feet</title>
  </head>
  <body>
    <h1>足元から Glitch</h1>
    <div id="button-container">
      <button id="glitch-button">Glitch!</button>
      <button id="download-button" disabled="disabled">Download</button>
    </div>
    <div id="container">
      <div id="canvas-container">
        <span>Drop Image File Here</span>
      </div>
    </div>
    <script src="{{ url_for('static', filename='dataview.min.js') }}"></script>
    <script src="{{ url_for('static', filename='png.js') }}"></script>
    <script src="{{ url_for('static', filename='glitch.js') }}"></script>
  </body>
</html>
