/* -*- coding: utf-8 -*- */

#container {
    display: table;
    width: 100%;
    margin: 30px 0 0;
    padding: 0;
}

#row {
    display: table-row;
    height: 540px;
}

#left, #right {
    display: table-cell;
    vertical-align: top;
    width: 50%;
}

#dropcircle-container {
    text-align: center;
}

#dropcircle {
    background-color: #00002F;
    border: 10px solid #222;
    border-radius: 250px 250px 250px 250px;
    height: 480px;
    line-height: 480px;
    position: relative;
    top: 20px;
    width: 480px;
    font-size: 50px;
    font-weight: bold;
    color: green;
}

#limit {
    display: block;
    position: absolute;
    top: 50px;
    width: 100%;
    font-size: 18px;
}
