/* -*- coding: utf-8 -*- */

body {
    background: white;
    font-color: black;
}

#container {
    width: 100%;
    margin: 30px 0 0;
    padding: 0;
}

#canvas-container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border: solid 5px gray;
    border-radius: 1em;
    height: 550px;
    width: 640px;
}

#glitch-button {
    opacity: 0;
}